body {
  margin: 100px;
  padding: 0; 
  background-color:rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
}

.border{
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: auto;
  top: 0; 
  left: 0; 
  width: 100%; 
}

/* TOP NAV */
#Nav {
 
  background-color: rgb(15, 11, 6);
  position: fixed;
  height: auto;
  top: 0; 
  left: 0; 
  width: 100%; 
}

#Nav ul {
  display: flex;
  justify-content: center;
  list-style:none;
  padding: 0;
}

#Nav li {
  margin: 0px 50px;
  font-size: 30px;
}

#Nav a {
  text-decoration: none;
  color:rgb(255, 243, 243);
  
}

#Nav a:hover {
  color: rgb(190, 49, 68);
}
/* ABOUT ME*/

#AboutMe {
 
  margin-top: 0%;
  text-align: left;
  
  }

#AboutMe img{
  margin-top: auto;
  width: 8in;
  height: 8in;
  margin-left: 57%;
}
#Key{
  margin-top: 2%;
  margin-left: 0%
  ;
  margin-bottom: 2%;
   font-size: 1in;
   color:rgb(18, 127, 146);
   font-weight: bold;
}
#Key2{
  margin-top: 2%;
  margin-bottom: 2%;
   font-size: 0.4in;
   color:rgb(250, 112, 112);
   font-weight: bold;
  }
  #AboutMe p:hover{
    color: aquamarine;
  }
  
#AboutMe h1{
  margin-right:48% ;
 margin-top: auto;
position:absolute;
font-style:normal;
font-size: 33px;
color:rgb(245, 232, 199) ;
}



/* EDUCATION*/

#Education {

  margin-top: 0%;
  padding-top: 7%;
}

#Education h3{
  
  font-size: 60px;
  color: rgb(0, 255, 255);
  
}
#Education h1{
  color: rgb(253, 253, 253);
  margin-top: 0%;
  font-size: 0.35in;
}

#Education h2{
  color: rgb(253, 253, 253);
  margin-top: auto;
  font-size: 0.4in;
 
}





/*EXPERIENCE */
#Experience{
  margin-top: 0%;
  padding-top: 20%;
  padding-bottom: 15%;
}
#Experience h1{
  margin: 0px;
  font-size: 60px;
  color: rgb(0, 255, 255);
}
#Experience p{
  margin: 0px;
font-size: 40px;
color: azure;

}


/*PROJECTS*/
#Projects{
  margin-top: 0%;
  padding-top: 18%;
  padding-bottom: 15%;
}
#Projects li{
  font-size: 40px;
  color: rgb(253, 255, 255);
 
}
#Projects h1{
  margin: 0px;
  font-size: 60px;
  color: rgb(0, 255, 255);
  padding-bottom: 100px;
}
#Projects label{
  font-size: 50px;
  color: rgb(255, 255, 255);
}
#Projects a{
  color: rgb(182, 182, 219);
}
#Projects a:hover{
  color: blue;
}


/*SKILLS */
#Skills{
  margin-top: 0%;
  padding-top: 10%;
  padding-bottom: 20%;
}
#Skills h1{
  margin: 0px;
  font-size: 60px;
  color: rgb(0, 255, 255);
padding-bottom: 100px;

}
#Skills li{
  margin: 40px;
font-size: 50px;
color: azure;

}


/*TECHNICALSKILLS */
#TechinicalSkills{
  margin-top: 0%;
  padding-top: 7%;
  
}
#TechinicalSkills h1{

  font-size: 60px;
  color: rgb(0, 255, 255);
  padding-bottom: 100px;
}

#techinical{
  display: flex;
 flex-direction: column;
  list-style:none;
  align-items: center;
  padding: 0;
  width: 1in;
  height: 1in;
}
.icon{
  width: 1in;
  height: 1in;
}
#TechinicalSkills li{
  display: flex;
 flex-direction: row;
  list-style:none;
  align-items: center;
  padding: 0;
  font-size: 50px;
  color: azure
  ;
}

/*CONTACT */


#Contact
{
  display: flex;
  margin-top: 20%;
  margin-bottom: 30%;
  padding-top: 10%;

justify-content: space-around;
flex-direction: column;
}

#Contact h1{

  font-size: 60px;
  color: rgb(0, 255, 255);
  padding-bottom: 100px;
}
label{
  
  color: aliceblue;
  font-size:50px ;

}

